# My first program

In [ ]:
print("hello, world!")

hello, world!

Python data types

In [ ]:
x=5
y="john"
z='c'
print(x)
print(y)
print(z)

5
john
c

2nd code

In [ ]:
x=int(3)
y=float(3.14)
z=str(9)
print(x,y,z)

3 3.14 9

3rd code

In [ ]:
x=5
y="John"
print(x)
print(y)

5
John

4th code

In [ ]:
# list
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(fruits)

# tuple
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
thistuple1 = ("apple", "banana", "cherry", "apple", "cherry", 3, 5, 6, 'grapes')
print(thistuple1)

# set
thisset = {"banana", "apple", "cherry", False, 1, 2}
print(thisset)

# dictionary
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
print(thisdict)

# string concatenation
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

# printing different data types
x = 5
y = "John"
print(x, y)

# system version
import sys
print(sys.version)

apple
banana
['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry', 'apple', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'cherry', 3, 5, 6, 'grapes')
{False, 1, 'apple', 2, 'cherry', 'banana'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Python is awesome
5 John
3.12.11 (main, Jun  4 2025, 08:56:18) [GCC 11.4.0]

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
 print("Five is greater than two!")
if 5 > 1:
 print("Five is greater than one!")
a = 33
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")
a = 200
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")
else:
 print("a is greater than b")
i = 1
while i < 6:
 print(i)
 i += 1
fruits = ["apple", "banana", "cherry"]
for x in fruits:
 print(x)
for x in range(7):
 print(x)
else:
 print("Finally finished!")

Five is greater than two!
Five is greater than two!
Five is greater than one!
a and b are equal
a is greater than b
1
2
3
4
5
apple
banana
cherry
0
1
2
3
4
5
6
Finally finished!

In [ ]:
x = "awesome"
def myfunc():
 print("Python is " + x)
myfunc()
x = "awesome"
def myfunc():
 x = "fantastic"
 print("Python is " + x)
myfunc()
print("Python is " + x)

Python is awesome
Python is fantastic
Python is awesome